*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/** Box-1 **/
.nav-logo{
    height: 40px;
    width: 100px;
}
.logo{
    background-image: url(/img/amazon_logo.png);
    height: 40px;
    width: 100%;
  background-size: cover; 
}
.border{
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 3px;
}
.border:hover{
    border: 2px solid white;
}

/** Box-2 **/
.add-first{
    color: #CCCCCC;
    margin-left: 1.2rem;
}
.add-sec{
 color: white;
 margin-left: 0.2rem;
 font-weight: 700;
 
}
.add-icon{
    display: flex;
    margin-left: 0.2rem;
}

/** Box-3 **/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px ;
    border-radius: 4px;
    margin-left: 10px;

}
.nav-search:hover{
    border: 3px solid orange;
    
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color:orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;
}
/** Box-4 **/
.nav-language{
    display: flex;
    margin-left: 2px; 
    font-weight: 700;
   
}
.nav-language i{
    margin-top: 3px;
}
.nav-language p{
    margin-left: 2px; 
    
}
.language-select{
    background-color: #0F1111;
    color: white;
    border: none;
}

/** Box-5 **/
span{
    font-size: 0.8rem;

}
.nav-sec{
    font-size: 0.95rem;
    font-weight: 700;
}

/** Box-6 **/
.nav-cart{
    display: flex;
   
}
.nav-cart i{
    font-size: 1.8rem;
}
.nav-cart p{
    margin-left: 5px;
    margin-top: 10px;
    font-weight: 700;
}


/*------------------------------------------------------------ */

.panel{
    
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;

}
.panel-ops p{
    display: inline;
    margin-left: 20px;
}

.panel-ops {
    width: 70%;
    font-size: 0.9rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.panel-all{
    
    display: flex;
    font-weight: 700;
}
.panel-all p{
    margin-left: 7px;
    font-size: 16px;
}

/*--------------- Hero-Section-------------------- */

.hero-section{
    background-image: url(/img/hero_image.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}
.hero-msg{
    background-color: white;
    color: #0F1111;
    height: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin-bottom: 75px;

}
.hero-msg a{
    color: #007185;
    text-decoration: none;
}


/*--------- Shop-Section----------------- */

.Shop-Section{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 background-color: #c7e1db;
}
.box{
    height: 370px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
   
}
.box a{
    text-decoration: none;
    padding: 2px;
}
.box a:hover{
    background-color:orange;
    border-radius: 5px;
}

.box-img{
    height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color:#007185 ;
}


/*-------------- Footer------------------- */
footer{
  margin-top: 15px; 
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
   font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.foot-panel2 ul{
    margin-top: 5px;
}
.foot-panel2 ul p{
    font-weight: 700;
    font-size: 17px;
}
.foot-panel2 a{
    text-decoration: none;
    color: white;
     display: block; 
     font-size: 0.8rem;
     margin-top: 10px;
}
.foot-panel3{
    background-color:#222f3d ;
    height: 100px;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.foot-logo{
    background-image: url(/img/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel-left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  
}
.english{
    display: flex;
    border: 1px solid white;
    padding: 5px;
}
.english p{
    padding-left: 10px;
}
.dollar{
    display: flex;
    padding-left: 50px;
    border: 1px solid white;
    padding: 5px;
    margin-left: 50px;
}
.dollar p{
    padding-left: 10px;
}
.country{
    display: flex;
    padding-left: 50px;
    border: 1px solid white;
    padding: 5px;
    margin-left: 50px;
}
.country p{
    padding-left: 10px;
}

.foot-panel4{
    background-color: #0F1111;
    color: white;
    height: 80px;
    text-align: center;
    justify-content: space-evenly;
    align-items:center;
}
.foot-pages a{
    margin-left: 20px;
}
.foot-panel4 a,p{
    font-size: 0.8rem;
}
.foot-padding{
    padding-top: 30px;
}